.row {
    color: #fff;
    margin-left: 20px;
}

.row__title {
    text-transform: uppercase;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 100px;
    margin-right: 10px;
    object-fit: contain;
    transition: transform .4s;
    cursor: pointer;
}

.row__poster:hover {
    transform: scale(1.06);
    opacity: 1;
}

.row__large__poster {
    max-height: 250px;
}

.row__large__poster:hover {
   transform: scale(1.09);
}
